<div class="deck-grid">
  <ng-container *ngIf="viewer$ | async as viewer">
    <div class="deck-container" *ngFor="let player of otherPlayers(players$ | async, viewer); trackBy: trackByPlayerUid">
      <app-player-deck
        [disableSelection]="disableSelection"
        [disableSelectionDisplay]="disableSelection"
        [(selectedClue)]="selectedClue"
        (selectedClueChange)="handleClueChange(player)"
        [(selectedMeans)]="selectedMeans"
        (selectedMeansChange)="handleMeansChange(player)"
        [player]="player"
      ></app-player-deck>
    </div>
  </ng-container>
</div>
