<div class="player-deck" [class.deck-selected]="deckSelected" [class.deck-dimmed]="deckDimmed">
  <div class="player">
    <div class="avatar-container"><tg-avatar [uid]="player.uid" [name]="player.name"></tg-avatar></div>
    <div>
      <div class="name">{{ player.name }}</div>
      <div class="subtitle">Suspect cards</div>
    </div>
  </div>

  <div class="card-lane means-lane">
    <div class="cards">
      <app-card
        *ngFor="let card of player.meansCards; trackBy: trackByCardId"
        [card]="card"
        [active]="!disableSelectionDisplay && selectedMeans === card.id"
        [subdued]="shouldSubdueMeans(card.id)"
        [means]="true"
        (click)="!disableSelection && meansClick(card.id)"
      ></app-card>
    </div>
  </div>

  <div class="card-lane clue-lane">
    <div class="cards">
      <app-card
        *ngFor="let card of player.clueCards; trackBy: trackByCardId"
        [card]="card"
        [active]="!disableSelectionDisplay && selectedClue === card.id"
        [subdued]="shouldSubdueClue(card.id)"
        [means]="false"
        (click)="!disableSelection && clueClick(card.id)"
      ></app-card>
    </div>
  </div>
</div>
