<ng-container *ngIf="!!forensicCard">
  <div class="card" [ngClass]="[disabled ? 'disabled-card' : '', selected ? 'selected-card' : '']">
    <div class="card-header">
      <p class="eyebrow">Forensic clue</p>
      <h4 dir="auto">{{ forensicCard.cardName }}</h4>
    </div>

    <div class="options">
      <button
        mat-flat-button
        type="button"
        class="option"
        [ngClass]="[!disabled && isSelected(forensicCard.choiceIds[index]) ? 'option-selected' : 'option-not-selected']"
        *ngFor="let choice of forensicCard.choices; let index = index"
        (click)="choiceClick(forensicCard.choiceIds[index])"
        dir="auto"
      >
        {{ choice }}
      </button>
    </div>
  </div>
</ng-container>
