<div class="title">Room Participants</div>
<div *ngIf="gameApi.participants$ | async as participants" class="container">
  <div *ngFor="let participant of participants" class="participant-card">
    <app-joined-player-list-item [participant]="participant"></app-joined-player-list-item>
    <div class="controls" *ngIf="showModControls && (gameApi.viewer$ | async)?.isCreator && !(gameApi.game$ | async)?.startedOn">
      <button mat-button type="button" (click)="toggleRole(participant)">
        {{ participant.role === 'player' ? 'Make observer' : 'Make player' }}
      </button>
      <button mat-button type="button" *ngIf="participant.role === 'player'" (click)="toggleScientist(participant)">
        {{ participant.isMarkedScientist ? 'Unmark scientist' : 'Mark scientist' }}
      </button>
    </div>
  </div>
  <div *ngIf="participants.length === 0">
    No participants yet!
  </div>
</div>
