<ng-container *ngIf="(gameApi.game$ | async) as game">
  <ng-container *ngIf="(gameApi.viewer$ | async) as viewer">
    <ng-container *ngIf="viewer.isCreator && game.pendingWitnessSelection && (gameApi.moderatorPrivateData$ | async) as moderatorData">
      <div class="moderator-panel" *ngIf="moderatorData.witnessPromptTargets.length > 0">
        <h3>Murderer team witness prompts</h3>
        <p>If the murderer is offline, you can show the prompt to an accomplice instead.</p>
        <div class="target-list">
          <div class="target-row" *ngFor="let target of moderatorData.witnessPromptTargets">
            <div>
              <strong>{{ target.name }}</strong>
              <span class="role">{{ target.role }}</span>
              <span class="status" *ngIf="target.hasActivePrompt">prompt active</span>
            </div>
            <button mat-stroked-button type="button" (click)="showPrompt(target.uid)">
              {{ target.hasActivePrompt ? 'Re-show prompt' : 'Show prompt' }}
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
